/* default.css @ https://arttu.pennanen.org */

@import url('../assets/font/inter/inter.css');
    html { font-family: 'Inter', sans-serif     }


:root {
    --bg: #ffffff;
    --text: #0059ff;
    --text2: #0023ff;
    --text3: #0023ff;
    --text4: #052fdd;
}

::selection {
    background: hsl(232, 100%, 50%);
    color: white;
  }

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar {
    position:fixed;
    width: 9px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.1)
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#0058ff;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    color: #0059ff;
    color: var(--text);
}

p, span, h1, i, h2, h3, a {
    z-index: 1;
}

noscript {
    padding-top: 5em;
    font-size: 1.15em;
    font-weight: 450;
}


/* 'variable' classes */

.bg {
    background-color: var(--bg);
    color: var(--text);
}

.bg2 {
    background-color: var(--bg2);
    color:var(--text);
}

.bg3 {
    background-color: var(--bg3);
    color: #0023ff;
    color: var(--text2);
}

.bg4 {
    background-color: var(--bg4)
}

.etch {
    text-shadow: 0 2px white;
    color: #55677d;
}

.flex {
    display: flex;
    flex-direction: column;
}

.divide {
    flex-direction: row;
    padding: 0;
}

.divide > div {
    flex-basis: 50%;
}

.divide-img {
    width: 200px;
    z-index: 1;
    border-radius: 2em;
}

.reverse-wrap {
    flex-wrap: wrap-reverse !important;
}

.text-div-images {
    flex-wrap: wrap;
}

.text-div-images > div {
    padding: 5em 0;
}

.text-div {
    padding: 1em 0%;
    max-width: 800px;
}

.d-header {
    flex-basis: 40%;
    padding: 0 0.3em;
}

.d-text {
    flex-basis: 60%;
    padding: 0 0.7em;
    background-color: var(--bg2);
    z-index: 1;
}

.h-mid {
    justify-content: center;
}

.v-mid {
    align-items: center;
}

.h1 {
    font-size: 64px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-align: center;
}

.h3 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    position: relative;
}

.h3::after {
    content: "";
    height: 2px;
    background: #0059ff;
    background: var(--text);
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.text-left {
    align-items: flex-start;
}

.text-right {
    align-items: flex-end;
}

.hp {
    padding-left: 2em;
    padding-right: 2em;
}

.vp {
    padding-top: 2em;
    padding-right: 2em;
}
/*Proper element stuff*/

nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(8, 14, 58, 0.7);
    padding: 1.2em 1em;
}

.navwrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    justify-content: flex-start;
    padding: 0 calc(0.7rem + 4vw);

}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
}

.navlink {
    box-sizing: border-box;
    color: #0059ff;
    color: var(--text);
    height: 33px;
    display: flex;
    align-items: center;
}

a.navlink, span.navlink {
    text-decoration: none;
    font-weight: 450;
    margin: 0.4em;
    -webkit-font-smoothing: antialiased;
    border-bottom: 2px solid transparent;
}

.navlink:hover {
    color: #0023ff;
    color: var(--text3);
    border-bottom-color: #0023ff;;
    border-bottom-color: var(--text3);
}

.navlink.brand:hover {
    color: #0023ff;
    color: var(--text3);
    border-bottom-color: transparent;
}

.navlink.brand:hover img {
    opacity: 0.8;
}
.navlink.brand {
    margin: 0;
    font-size: 1.3em;
}

img.brand {
    width: 2.6rem;
    margin-right: 1rem;
    opacity: 0.7;
    transition: opacity 0.2s
}

span.brand {
    font-weight: 700;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    margin-bottom: .1em;
}

.bg-art {
    display: flex;
    height: 100%;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 0;
}

.bg-item {
    height: 100%;
    width: 20%;
    border-left: 1px solid rgba(128, 129, 139, 0.3);
}

.bg-item:first-child{
    border-left: none;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
}

.card {
    margin: 0 1em;
    padding: 1em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-inner {
    max-width: 900px;
    padding: 0 calc(0.7rem + 4vw);
}

.divider {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.divider-icon {
    position: absolute;
    transform: translateY(-50%);
    color: var(--bg3);
    font-size: 7rem;
    font-weight: 800;
}

.before-divider {
    padding-bottom: 5rem;
}

.after-divider {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.large-icon i {
    font-size: 5em;
}

.hero {
    position: relative;
    padding: 10em 0;
    overflow: hidden;
    padding-bottom: 13em;
    transition: padding 0.1s;
    overflow: hidden;
}

.hero .h1 {
    font-size: 8em;
}

.projects {
    max-width: 900px
}

.project-div {
    text-decoration: none;
    color: #0023ff;
    color: var(--text3);
    padding: 3em 0;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.project-div:hover .project {
    transform: skewX(5deg) skewY(10deg) translateY(-1em) translateX(0.4em);
    box-shadow: -44px 75px 0 0 rgba(0, 0, 0, 0.9)
}

.invertable {
    transition: color 0.4s;
}

.project {
    position: relative;
    transform: skewX(5deg) skewY(10deg);
    height: 250px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -29px 30px 0px 0px rgba(0, 0, 0, 0.9);
    margin-left: 1em;
    transition: transform 0.7s, box-shadow 0.7s;
    
}

.project-header {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    color:#052fdd;
    color: var(--text4);
    margin: 0.7em;
}

.project-bg {
    background-size: cover;
    height: 100%;
    width: 100%;
    background-blend-mode: luminosity;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(0px) brightness(1.2);
    background-color: #ffffff;
    transition: background-color 0.5s, filter 0.5s;
}

div.project-meta {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-basis: 50%;
    min-width: 300px;
}

p.project-meta {
    padding: 3em;
    font-size: 1.14rem;
    font-weight: 450;
}

footer.card {
    padding: 4em 0;
    padding-bottom: 3em;
}

.footerspan span {
    padding: 0.3em;
    font-weight: 700;
    font-size: 1.1rem;
    text-shadow: 0 2px #e8e8e8;
    color: #0059ff;
    color: var(--text);
    text-transform: lowercase;
}

.year {
    font-size: 0.9em;
}

/* All bg animatin stuff */

.animationparent {
    position: relative;
}

.bubble {
    position: absolute;
    animation: bubble;
    background-color: #626f8b;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1
}

@keyframes bubble {
    0% {
        top: 120%;
        opacity: 0;
    }

    100% {
        top: -40%;
        opacity: 0.5;
    }
}

.heroanimator {
    overflow: hidden;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translateY(var(--animationparallax));
}

/* Filters */
.invert {
    filter: invert(1) hue-rotate(180deg);
    transition: filter 0.3s
}

/* Queries */
@media only screen and (max-width: 940px) {
    .bg-item:first-child{
        display: none;
    }

    .bg-item {
        width: 25%;
    }
}   


@media only screen and (max-width: 670px) {
    .navlinks {
        margin-left: 0.4em;
    }

    img.brand {
        margin-right: 0.5rem;
    }

    .navwrapper {
        padding: 0 2vw;
    }

    .project-div {
        flex-direction: column;
    }

    .bg-item:last-child{
        display: none;
    }

    .bg-item {
        width: 33%;
    }

    .text-div-images > div {
        padding: 2em 0;
    }

    .divide > div {
        flex-basis: 100%;
    }

    .divide {
        justify-content: center;
    }

    .hero .h1 {
        font-size: calc(2em + 9vw);
    }

    .hero {
        padding: 7em 0;
    }

    .c4 {
        font-size: calc(1.5rem + 5vw)
    }

}   

@media only screen and (max-width: 400px) { 
    span.brand {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    .bubble {
      animation: none;
      -webkit-animation: none;
      display: none;
    }
    .project-div:hover .project {
        transform: inherit;
        box-shadow: inherit
    }
    .heroanimator {
        transform: none;
    }
  }
