<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/css/default.css" />
  </head>
  <body class="view">
    <div class="head">
      <h2>spotify fav</h2>
      <a class="tryhere" href="https://arttu.pennanen.org/sub/typechase"
        >Try here!</a
      >
    </div>
    <figure class="projectimg">
      <img src="/assets/images/projectimg/typechase1.png" alt="" />
      <figcaption>arttu.pennanen.org/typechase</figcaption>
    </figure>

    <figure class="projectimg">
      <img src="/assets/images/projectimg/typechase2.png" alt="" />
      <figcaption>arttu.pennanen.org/typechase</figcaption>
    </figure>
    <figure class="projectimg">
      <img src="/assets/images/projectimg/typechase3.png" alt="" />
      <figcaption>arttu.pennanen.org/typechase</figcaption>
    </figure>
  </body>
</html>
