:root {
  --bg-1: #fafafa;
  --text-color: rgba(75, 85, 99);
  --secondary-text-color: #465a6f;
  --title-color: #0a2540;
  --secondary-title-color: #0b2540;
  --contrast-text-color: #fff;
  --contrast-title-color: #fff;
  --nav-link-color: hsl(210, 70%, 18%);
  --nav-link-hover-color: hsl(210, 72%, 8%);
  --selection-bg: #2861ca;
  --selection-color: #fff;
  --link-color: rgb(29, 78, 216);
  --link-hover: rgba(96, 165, 250);
  --brand-filter: brightness(0.2);
  --bg-line-color: #4247700f;
  --light-border-color: rgba(0, 0, 0, 0.02);
  --border-color: rgba(0, 0, 0, 0.08);
}
