@import url('/assets/font/inter/inter.css');
    html { font-family: 'Inter', sans-serif     }

    :root {
        --bg: #ffffff;
        --text: #0059ff;
        --text2: #0023ff;
        --text3: #0023ff;
        --text4: #052fdd;
        --text5: #0064ff;
    }
    

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
}


nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(8, 14, 58, 0.7);
    padding: 1.2em 1em;
}

.navwrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    justify-content: flex-start;
    padding: 0 calc(0.7rem + 4vw);

}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
}

.navlink {
    box-sizing: border-box;
    color: #0059ff;
    color: var(--text);
    height: 33px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

a.navlink, span.navlink {
    text-decoration: none;
    font-weight: 450;
    margin: 0.4em;
    -webkit-font-smoothing: antialiased;
    border-bottom: 2px solid transparent;
}

.navlink:hover {
    color: #0023ff;
    color: var(--text5);
    border-bottom-color: #0023ff;;
    border-bottom-color: var(--text5);
}

.navlink.brand:hover {
    color: #0023ff;
    color: var(--text5);
    border-bottom-color: transparent;
}

.navlink.brand:hover img {
    opacity: 1;
}
.navlink.brand {
    margin: 0;
    font-size: 1.3em;
}

img.brand {
    width: 1.6rem;
    margin-right: 1rem;
    opacity: 0.8;
    transition: opacity 0.2s;
}

span.brand {
    font-weight: 700;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    margin-bottom: .1em;
}
main {
        transform: translateY(-85px);
}

.wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

span.brand {
    font-weight: 700;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    margin-bottom: .1em;
}

.bg-art {
    display: flex;
    height: 100%;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.bg-item {
    height: 100%;
    width: 20%;
    border-left: 1px solid rgba(23, 22, 43, 0.05);
}

.bg-item:first-child{
    border-left: none;
}

h1 {
    font-size: 7em;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: var(--text3)
}

h1 > span {
    display: block;
}

.heroanimator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.bubble {
    position: absolute;
    animation: bubble;
    background-color: #0a2e82;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1
}

.n {
    font-size: 0.85em
}

.link {
    margin-top: 0.1em;
    color: #dddddd;
}

@media only screen and (max-width:940px),
screen and (max-height:450px) {
    h1 {
        font-size: calc(1em + 8vmin);
    }

    p {
        font-size: calc(0.5em + 1.5vmin);
    }
     
     .bg-item:first-child{
        display: none;
    }

    .bg-item {
        width: 25%;
    }
}

@media only screen and (max-width: 670px) {
    .bg-item:last-child{
        display: none;
    }

    .bg-item {
        width: 33%;
    }
    .navlinks {
        margin-left: 0.4em;
    }

    img.brand {
        margin-right: 0.5rem;
    }

    .navwrapper {
        padding: 0 2vw;
    }
}


@keyframes bubble {
    0% {
        top: 120%;
        opacity: 0;
    }

    100% {
        top: -40%;
        opacity: 0.5;
    }


}

@media (prefers-reduced-motion: reduce) {
    .bubble {
        animation: none;
        -webkit-animation: none;
    }
}